img {
  width: 50px;
}
#face {
  width: 400px;
}

#eyes {
  position: absolute;
  left: 140px;
  top: 180px;
  width: 10%;
}

#mouth2 {
  position: absolute;
  left: 140px;
  bottom: 250px;
  width: 10%;
}

#nose1 {
  position: absolute;
  left: 190px;
  top: 200px;
}

#ears1 {
  position: absolute;
  left: 25px;
  top: 150px;
  width: 24%;
}

#hair2 {
  position: absolute;
  left: 55px;
  top: 60px;
  width: 20%;
}

#hat {
  position: absolute;
  left: 150px;
  top: 5px;
  width: 10%;
}