/* body has position:relative to keep all absolute elements inside */
body {
  position: relative;
}

img {
  width: 50px;
}
#face {
  width: 400px;
}

#eyes {
  position: absolute;
  left: 128px;
  top: 200px;
  width: 12%;
}

#mouth2 {
  position: absolute;
  left: 133px;
  width: 11%;
  top: 35%;
}

#nose1 {
  position: absolute;
  left: 177px;
  top: 240px;
  width: 65px;
}

#ears1 {
  position: absolute;
  left: -6px;
  top: 82px;
  width: 405px;
  /* z-index is here to show the ears in front of hair */
  z-index: 1;
}

#hair2 {
  position: absolute;
  left: 49px;
  top: 60px;
  width: 300px;
}

#hat {
  position: absolute;
  left: 150px;
  top: 5px;
  width: 10%;
}